/* Reset default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Light gray background */
    color: #333; /* Dark text color */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #1e3a56; /* Dark blue background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #284d70; /* Slightly lighter blue background */
    padding: 10px 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff6600; /* Orange color on hover */
}

.section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

h1, h2, h3 {
    color:#ff6600;
}

.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}
